
<article>
<section>
  <h2> Autores: Sergio Yerbes Martínez y Javier Guerrero Alzola</h2>
  <img src="images/Sergio.jpg" alt="Sergio" width="282" height="160" border="4">
  <img src="images/Javier.jpg" alt="Javier" width="120" height="160" border="4">
</section>
</article>
<article>
    <section>
    <h2>Nuestro vídeo favorito:</h2>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/iWiX8IUw36c?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</section>
</article>
