<table>
 	<% for(var i in quizes) { %>
 		<tr>
 			<td>
 				<a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].question %></a>
 			</td>
 		</tr>
 	<% } %>
</table>

<form method="get" action="/quizes">        
  <h2>Formulario de Búsqueda:</h2>
  <input type="text" name="search" value="" placeholder=""/>
  <input type="submit" value="Buscar">
</form>